/** 基本配色
背景色
#F0F8FF #eeeeee #FAEBD7 #191970

**/

p{
    font-family: "宋体", "Comic Sans MS", cursive, sans-serif;
}

body{
    background-color: #F0F8FF; 
    margin: 0;
    text-align: center;
}

.head{
    background-color: #FAEBD7;
    height: 120px;
    padding-bottom: 10px;
}

.main{
    float: left;
}

.main.side{
    background-color: #d5deef;
    width: 25%;
    float: right;
}

.main.middle{
    background-color: #f5f5e9;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.foot{
    background-color: #eeeeee;
    text-align: center;
    clear: both;
}

@media screen and (max-width: 600px) {
    .main {
      width: 100%;
    }
    .others{
        width: 100%;
    }
  }
